header {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-areas: "search breadcrumbs profile";
}

header #profile {
    grid-area: profile;
    display: grid;
    grid-template-columns: auto auto 35px;
    gap: .5rem;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin-right: .5rem;
    font-weight: 600;
}

header #search {
    grid-area: search;
}

header #breadcrumbs {
    grid-area: breadcrumbs;
}

#profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#name-id {
    font-size: 1em;
    margin: 0;
    line-height: 1;
}

#role-id {
    font-weight: 100;
    font-size: .8em;
    margin: 0;
    line-height: 1;
}

header #profile-pic {
    height: calc(100% - 10px);
    aspect-ratio: 1;
    border: solid thin rgba(126, 126, 126, .2);
    border-radius: 50%;
    background-color: var(--bg-color);
}

#logout-button {
    padding: 0;
    height: 100%;
    width: 40px;
    justify-content: center;
}

@media (max-width:899px) {
    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        border-radius: 0 0 .75rem .75rem !important;
        grid-template-areas: "search search profile"
            "breadcrumbs breadcrumbs breadcrumbs";
        background-color: transparent !important;
        padding: 12px 1.25rem;
        height: fit-content;
        z-index: 1;
    }

    header.scrolled {
        background-color: var(--acc-color) !important;
        background-image: radial-gradient(circle at top right, rgba(255, 255, 255, 0.08), transparent 30%), linear-gradient(135deg, var(--acc-color), color-mix(in srgb, var(--acc-color) 50%, #000)) !important;
    }

    header #search {
        min-height: 45px;
    }

    header #profile-info {
        color: white !important;
    }

    #breadcrumbs {
        height: 0 !important;
    }
}