button {
    position: relative;
    overflow: hidden;
    border-color: var(--text-color);
    background-color: var(--text-color);
    border: none;
}

button a, button a:hover {
    color: var(--bg-color);
}

button.primary a {
    color: white;
}

button:hover a, button.secondary:hover a {
    color: white;
}

button.primary:hover a {
    color: var(--bg-color);
}

button>* {
    position: relative;
    z-index: 1;
}

button:before {
    top: 0;
    left: -250%;
    position: absolute;
    z-index: 0;
    content: "";
    width: 600%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--acc-color) calc(100%/3*1), transparent calc(100%/3*1), transparent calc(100%/3*2), var(--acc-color) calc(100%/3*2), var(--acc-color) calc(100%/3*3));
    background-position: 250%;
    transition: left .1s ease;
}

button.primary:before {
    background-image: linear-gradient(90deg, var(--text-color) calc(100%/3*1), transparent calc(100%/3*1), transparent calc(100%/3*2), var(--text-color) calc(100%/3*2), var(--text-color) calc(100%/3*3));
}

button:hover:before {
    left: 0;
}

button.secondary:hover:before {
    left: -500%;
}


button.primary {
    background-color: var(--acc-color);
    border-color: var(--acc-color);
}

button.primary:hover {
    border-color: var(--text-color);
}

button[data-type="icon"] {
    background-color: transparent;
    border: none !important;
    width: 100%;
    border-radius:0;
    padding: 0;
    overflow: visible;
    align-items: left;
    text-align: left;
    box-shadow:0 0 0 2rem var(--body-color);
    transition:all 0.1s linear;
}

button[data-type="icon"] a, button[data-type="icon"] span {
    color: var(--text-color);
    width: 100%;
    height: auto;
    display: block;
}

/*button[data-type="icon"] a:after {
    content: "+";
    width: calc(100% + 2rem);
    height: 1.75rem;
    padding: 0 0 .25rem 0;
    background-color: var(--acc-color);
    color: white;
    border-radius: 0 .5rem 0 .5rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relativ;
    margin-top:.5rem;
    margin-left:-1rem;
    margin-bottom:-1rem;
}*/

button[data-type="icon"] svg, button[data-type="icon"] img {
    height: 100%;
    width:auto;
    aspect-ratio: 1;
    max-height: 25px;
    min-height:20px;
    object-fit: contain;
    transition:all .1s ease;
}
button[data-type="icon"]:hover{
    background-color:var(--acc-color);
    box-shadow:0 0 0 2rem var(--acc-color);
    color:white!important;
}
button[data-type="icon"]:hover a{
    color:white;
}
button[data-type="icon"]:before {
    content: none;
}

button[data-type="icon"] h2, button[data-type="icon"] h3, button[data-type="icon"] p {
    margin: 0;
}

@media (max-width:799px) {


    button[data-type="icon"] h2, button[data-type="icon"] h3, button[data-type="icon"] p {
        font-size: 14px !important;
    }
}