.cards>.card>div:not(.card) {
    padding: 1rem;
    background-color: var(--body-color);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .5rem;
    flex-shrink: 1;
    flex-grow: 1;
    box-shadow: 0 100px 0 0 var(--body-color), 0 -100px 0 0 var(--body-color);
}

.cards>.card>div>*:first-child {
    margin-top: 0 !important;
}

.cards>.card>div>*:last-child {
    margin-bottom: 0 !important;
}